/* @settings

name: Night Owl Theme
id: night-owl-theme
settings:
    -
        id: night-owl-typography
        title: Colors
        type: heading
        level: 3
    -
        id: text-bold-color
        title: Bold Color
        type: variable-color
        format: hex
        default: '#{$primaryLightGreen}'
    -
        id: text-italic-color
        title: Italic Color
        type: variable-color
        format: hex
        default: '#{$primaryYellow}'
    -
        id: text-italic-bold-color
        title: Italic Bold Color
        type: variable-color
        format: hex
        default: '#{$primaryLavender}'
*/
