/* @settings

name: Night Owl Theme
id: night-owl-theme
settings:
    -
        id: night-owl-typography
        title: Colors
        type: heading
        level: 3
    -
        id: text-bold-color
        title: Bold Color
        type: variable-color
        format: hex
        default: '#{$primaryLightGreen}'
    -
        id: text-italic-color
        title: Italic Color
        type: variable-color
        format: hex
        default: '#{$primaryYellow}'
    -
        id: text
        title: UI font
        description: Font used for the user interface
        type: variable-text
        default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

*/
