/*------------- --------------------*/
/*          Typography              */
/*------------- --------------------*/

$previewFontHeading: Rubik, 'Avenir Next', Helvetica, Arial, sans-serif;
$previewFontBody: Karla, 'Avenir Next', Helvetica, Arial, sans-serif;
$editorFont: 'IBM Plex Mono', Menlo, Monaco, 'Courier New', monospace;

/*-----------------------------*/
/*          Colors             */
/*-----------------------------*/

$primaryLightBlue: #82aaff;
$primaryDarkBlue: hsl(207, 95%, 8%); // #011627
$primaryLightGray: #d6deeb;
$primaryLightGreen: #50fa7b;
$primaryLimeGreen: #c5e478;
$primaryLavender: #b380fb;
$primaryYellow: #ffeb95;
$primaryTeal: #7fdbca;
$primaryHighlight: hsla(61, 100%, 32%, 0.8); // #a0a300ba
