/** Font weights appear lighter than Preview mode. **/
$editorHeadingList: (
  '1': 900,
  '2': 900,
  '3': 800,
  '4': 700,
  '5': 600,
  '6': 600
);

@each $heading, $headingWeight in $editorHeadingList {
  .cm-header.cm-header-#{$heading} {
    font-family: var(--font-family-editor);
    font-weight: $headingWeight;
    font-size: var(--font-size-h#{$heading});
    color: var(--text-title-h#{$heading});
  }
}

/* normal text for non-headings and code of editor */
.cm-s-obsidian,
.mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
}
