$headingList: (
  'h1': 900,
  'h2': 800,
  'h3': 700,
  'h4': 600,
  'h5': 500,
  'h6': 500
);

@each $heading, $headingWeight in $headingList {
  .markdown-preview-view #{$heading} {
    font-family: var(--font-family-preview-heading);
    font-size: var(--font-size-#{$heading});
    font-weight: $headingWeight;
    color: var(--text-title-#{$heading});
  }
}
