$headingList: h1, h2, h3, h4, h5, h6;

@each $heading in $headingList {
  .markdown-preview-view #{$heading} {
    font-family: var(--font-family-preview-heading);
    font-weight: 500;
    font-size: var(--font-size-#{$heading});
    color: var(--text-title-#{$heading});
  }
}
