/* rule line when there are checkboxes*/
ul .task-list-item ul::before {
  left: 0.15em !important;
}

/***************************************/
/*               Checkbox              */
/***************************************/

// Task List Item Checkbox
.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  top: 0.2em !important;
  right: 8px;
  box-sizing: border-box;
  position: relative;
  width: 1rem;
  height: 1rem;
  margin: 0;
  box-shadow: 0 0 0.1em var(--text-muted);

  // Checkmark Styles
  &:checked::before {
    content: '✓';
    position: absolute;
    left: -1px;
    top: -3px;
    color: var(--text-accent);
    font-size: 1rem;
    line-height: 1.25rem;
    width: 1.2rem;
    text-align: center;
    text-shadow: 0 0 0.1rem var(--text-accent);
  }
}

.markdown-preview-view ul > li.task-list-item.is-checked {
  text-decoration: none;
}

.checkbox-container {
  background-color: var(--background-primary);
}
