body {
  font-size: var(--font-size-normal);
}

.nav-file-title,
.nav-folder-title {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  color: var(--text-muted);
  font-size: 1rem;
  line-height: 20px;
  padding: 1px 20px 0 26px;
  position: relative;
  white-space: nowrap;
  width: max-content;
  min-width: 100%;
}
