$headingList: h1, h2, h3, h4, h5, h6;

@each $heading in $headingList {
  .markdown-preview-view #{$heading} {
    font-family: var(--font-family-preview-heading);
    font-size: var(--font-size-#{$heading});
    color: var(--text-title-#{$heading});
  }
}

.markdown-preview-view {
  h1 {
    font-weight: 900;
  }

  h2 {
    font-weight: 800;
  }

  h3 {
    font-weight: 700;
  }

  h4 {
    font-weight: 600;
  }

  h5,
  h6 {
    font-weight: 500;
  }
}
